{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static%}
{%block content%}

<div class = "border container shadow">
    <h4>Register</h4>
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4" style="color: white;"> Sign in Now </legend>
            {{ form|crispy }}
    </fieldset>
    <div class="form-group" id="signup-button">
        <button class="btn btn-primary btn-sm">Create account</button>
    </div>
    <div class="form-group">
        <small class="text-muted ml-3"> Have an account already?<a href="{% url 'login'%}"> Sign in</a></small>
    </div>
    </form>
</div>
{%endblock%}