{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}

<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;
      
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
      
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
      
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
</script>

<style>
    .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
    }  
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc; 
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
      }
</style>
    <details class="container">
        <summary class="summary btn btn-primary btn-lg btn-block"> Personal Information </summary>
        <div class = "border shadow personal">
            <h4>Add Personal Information</h4>
            <hr>
            <form method="POST" action="{% url 'submituser' %}" name="personForm">
                {% csrf_token %}
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" maxlength="30">

                <label for="last_name">Last Name:</label><br>
                <input type="text" name="last_name" id="last_name" maxlength="30"><br><br>

                <label for="age">Age</label><br>
                <input type="number" name="age" id="age" min="0"><br><br>

                <p>Gender</p>
                <label for="male">Male</label>
                <input type="radio" name="gender" value="male" id="male"><br>
                <label for="female">Female</label>
                <input type="radio" name="gender" value="female" id="femaale"><br><br>

                <label for="weight">Weight</label><br>
                <input type="number" name="weight" id="weight"><br><br>

                <label for="height">Height (inches)</label><br>
                <input type="number" name="height" id="height"><br><br>

                <label for="condition">Condition Level</label>
                <select name="condition" id="condition">
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br><br>

                <input type="text" name="username" value="{{user.username}}" hidden>

                <button type="submit">Submit</button>

            </form>
          </div>
    </details>
    <details class="container">
        <summary class="summary btn btn-primary btn-lg btn-block">Journal Entry</summary>
        <div class="content">
            <div class= "border journalentry">
                <h4>New Food Journal Entry</h4>
                <hr>
                <button class = "accordion">Step 1: Add Meal</button>
                <div class="panel">
                        <input class = 'btn btn-primary btn-block' type='submit' value = 'Add'>
                    </form>
                </div>
                <br>
                <button class = "accordion">Step 2: Add Food</button>
                <div class="panel">
                    <form method="POST">
                        {% csrf_token %}
                        {{ Food_journal_form|crispy }}
                    </br>
                        <input class = 'btn btn-primary btn-block' type='submit' value = 'Add'>
                    </form>
                </div>
            </div>
            <div class="journalGraph">
                <div class="graphs">
                    Hello
                </div>
            </div>
        </div>
    </details>
<details class="container">
    <summary class="summary btn btn-primary btn-lg btn-block">Blood work Entry</summary>
    <div class="content">
        <!-- Serum entry form-->
        <div class = "border  shadow blood">
            <h4>Add Serum Levels</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ serum_form|crispy }}
                <br><br>
                <input class = 'btn btn-primary btn-block' type='submit' value = 'Add'>
            </form>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Potassium')">Potassium</button>
            <button class="tablinks" onclick="openCity(event, 'Phosphorous')">Phosphorous</button>
            <button class="tablinks" onclick="openCity(event, 'Sodium')">Sodium</button>
            <button class="tablinks" onclick="openCity(event, 'Creatinine')">Creatinine</button>
            <button class="tablinks" onclick="openCity(event, 'Albumin')">Albumin</button>
            <button class="tablinks" onclick="openCity(event, 'Blood Sugar')">Blood Sugar</button>

            <div id="Potassium" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="PotassiumChart" width="300" height="300"></canvas>
                            <script>
                            const ctx = document.getElementById('PotassiumChart').getContext('2d');
                            const PotassiumChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}, ],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.mgdl_potassium}}, {% endfor %},],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 4.3, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
              
              <div id="Phosphorous" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="PChart" width="300" height="300"></canvas>
                            <script>
                            const ctx1 = document.getElementById('PChart').getContext('2d');
                            const PChart = new Chart(ctx1, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.mgdl_phosphorus}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 3.7, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
              
              <div id="Sodium" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="SodiumChart" width="300" height="300"></canvas>
                            <script>
                            const ctx2 = document.getElementById('SodiumChart').getContext('2d');
                            const SodiumChart = new Chart(ctx2, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.meql_sodium}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 140, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
            
              <div id="Creatinine" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="CreatinineChart" width="300" height="300"></canvas>
                            <script>
                            const ctx3 = document.getElementById('CreatinineChart').getContext('2d');
                            const CreatinineChart = new Chart(ctx3, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.mgdl_creatinine}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 1.1, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
              
              <div id="Albumin" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="AlbuminChart" width="300" height="300"></canvas>
                            <script>
                            const ctx4 = document.getElementById('AlbuminChart').getContext('2d');
                            const AlbuminChart = new Chart(ctx4, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.mgdl_albumin}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 3.5, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
              
              <div id="Blood Sugar" class="tabcontent">
                <div>
                    <!-- Add visuals here -->
                            <canvas id="BSChart" width="300" height="300"></canvas>
                            <script>
                            const ctx5 = document.getElementById('BSChart').getContext('2d');
                            const BSChart = new Chart(ctx5, {
                                type: 'line',
                                data: {
                                    // x axis
                                    labels: [{% for serum_data in serum_data %} '{{serum_data.serum_entry_date}}', {% endfor %}],
                                    datasets: [{
                                        // y axis
                                        label: 'Serum Stats',
                                        data: [{% for serum_data in serum_data %} {{serum_data.mgdl_blood_sugar}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1 
                                    }, {
                                        type: 'line',
                                        label: 'Line Dataset',
                                        data: [{% for serum_data in serum_data %} 85, {% endfor %}, ],
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            </script>
                    </div>
              </div>
          </div>
        <!-- According Info-->

    </div>
  </details>
<br>

  
 




<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
{%endblock%}