{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}
<style>
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc; 
    }
    
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
</style>
<button class="open-button" onclick ="openForm">Journal Entry</button>
<div class="panel">
    <div class = "border p-3 shadow">
        <h4>New Food Journal Entry</h4>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <!--{{ form|crispy }}-->
            <label for = 'journal_date'>Enter the date:</label>
            <input type = 'text' name = 'journal_date' id = 'journal_date'
        <br><br>
            <input class='btn btn-primary btn-block' type='submit' value = 'Add'>
        </form>
      </div>
</div>
        <!-- Serum entry form-->
        <div class="data border">
            <h4>Add Data</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ serum_form|crispy }}
                <input class = 'btn btn-primary btn-block' type='submit' value = 'Add'>
            </form>
        </div>
<!-- Add visuals here -->
        <canvas id="myChart" width="300" height="300"></canvas>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                // x axis
                labels: [{% for serum_data in serum_data %} '{{serum_data.serum_nutrient_id}}', {% endfor %}],
                datasets: [{
                    // y axis
                    label: 'Serum Stats',
                    data: [{% for serum_data in serum_data %} {{serum_data.serum_measure_amount}}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1 
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
</div>

<div class = "border shadow personal">
    <h4>Add Personal Information</h4>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ person_form|crispy }}
    </br>
        <input class = 'btn btn-primary btn-block' type='submit' value = 'Add'>
    </form>
  </div>




<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
{%endblock%}