{%extends 'base.html'%}
{%load static%}
{%block content%}
edit person
<div>
    <div>
        <form method="POST" class="form-group" action="{% url 'commitPerson' %}" name="personForm">
            {%csrf_token%}

            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name" id="first_name" maxlength="30" class="form-control" value="{{person.first_name}}"><br>

            <label for="last_name">Last Name:</label>
            <input type="" name="last_name" id="last_name" maxlength="30" class="form-control" value="{{person.last_name}}"><br>

            <label for="age">Age</label>
            <input type="number" name="age" id="age" min="0" class="form-control" value="{{person.age}}"><br>

            <p>Gender</p>
            <label for="male">Male</label>
            <input type="radio" name="gender" value="male" id="male" checked="{{person.gender}}"><br>
            <label for="female">Female</label>
            <input type="radio" name="gender" value="female" id="female" checked = "{{person.gender}}">
            <br><br>
            <label for="weight">Weight</label><br>
            <input type="number" name="weight" id="weight" class="form-control" value="{{person.weight}}">
            <br>

            <label for="height">Height (inches)</label><br>
            <input type="number" name="height" id="height" class="form-control" value = "{{person.height}}"><br>

            <label for="condition">Condition Level</label>
            <select name="condition" id="condition" class="form-control" value = "{{person.condition}}">
                <option value="3">3</option>
                <option value="4">4</option>
            </select><br>
            
            <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
{%endblock%}