{%extends 'base.html'%}
{%load static%}
{%block content%}

<div>
    <div class="foody shadow">
        <h2 class="food">Edit Person</h2>
        <form method="POST" class="form-group" action="{% url 'commitPerson' %}" name="personForm">
            {%csrf_token%}

            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name" id="first_name" maxlength="30" class="form-control" value="{{person.first_name}}"><br>

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" maxlength="30" class="form-control" value="{{person.last_name}}"><br>

            <label for="age">Age</label>
            <input type="number" name="age" id="age" min="0" class="form-control" value="{{person.age}}"><br>

            <p>Gender</p>
            <label for="male">Male</label>
            <input type="radio" name="gender" value="male" id="male" checked="{{person.gender}}"><br>
            <label for="female">Female</label>
            <input type="radio" name="gender" value="female" id="female" checked = "{{person.gender}}">
            <br><br>
            <label for="weight">Weight</label><br>
            <input type="number" name="weight" id="weight" class="form-control" value="{{person.weight}}">
            <br>

            <label for="height">Height (inches)</label><br>
            <input type="number" name="height" id="height" class="form-control" value = "{{person.height}}"><br>

            <label for="condition">Condition Level</label>
            <select name="condition" id="condition" class="form-control">
                {%if person.condition == 3%}
                <option value="3" selected>3</option>
                <option value="4">4</option>
                {%endif%}
                {%if person.condition == 4%}
                <option value="3">3</option>
                <option value="4"selected>4</option>
                {%endif%}
            </select><br>
            
            <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="alert-link" href="{% url 'viewPeople'%}"><button class="btn btn-primary">Back</button></a>
        </form>
    </div>
</div>
{%endblock%}