{%extends 'base.html'%}
{%load static%}
{%block content%}
edit serum entry
<div>
    <div>
        <!-- {{serum_entry.serum_entry_date}}
        {{serum.serum_entry_time}} -->
        <form method="POST" class="form-group" action="{% url 'commitSerum' %}" name="editSerum">
            {%csrf_token%}

            <label for="serum_entry_date">Serum Entry Date</label>
            <input type="text" name="serum_entry_date" value="{{serum_entry.serum_entry_date}}">
            <br>
            <label for="serum_entry_time">Serum Entry Date</label>
            <input type="time" name="serum_entry_time" value="{{serum_entry.serum_entry_time}}">
            <br>
            <label for="meql_sodium">Serum Entry Date</label>
            <input type="number" name="meql_sodium" value="{{serum_entry.meql_sodium}}">
            <br>
            <label for="mgdl_potassium">Serum Entry Date</label>
            <input type="number" name="mgdl_potassium" value="{{serum_entry.mgdl_potassium}}">
            <br>
            <label for="mgdl_phosphorus">Serum Entry Date</label>
            <input type="number" name="mgdl_phosphorus" value="{{serum_entry.mgdl_phosphorus}}">
            <br>
            <label for="mgdl_creatinine">Serum Entry Date</label>
            <input type="number" name="mgdl_creatinine" value="{{serum_entry.mgdl_creatinine}}">
            <br>
            <label for="mgdl_albumin">Serum Entry Date</label>
            <input type="number" name="mgdl_albumin" value="{{serum_entry.mgdl_albumin}}">
            <br>
            <label for="mgdl_blood_sugar">Serum Entry Date</label>
            <input type="number" name="mgdl_blood_sugar" value="{{serum_entry.mgdl_blood_sugar}}">
            <br>
            
            <input type="number" name="serum_id" id="serum_id" value="{{serum_entry.id}}" hidden>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
{%endblock%}