{%extends 'base.html'%}
{%load static %}
{%block content%}
<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class='row'>
            <div class="col-md-5">
                <div class="text">
                    Keep track of your Nutrition.<br>
                    Live a healthy kidney life.
                </div>
                {%if user.is_authenticated%}
                <div class="buttons d-grid gap-1 col-6 mx-auto">
                  <a href="{%url 'dashboard'  username=user.username%}" class="btn btn-primary btn-lg"> View Dashboard </a>  
                  {% comment %} <a href="#" class="btn btn-outline-secondary m5-3"> Live previews </a>   {% endcomment %}
                </div>
                {%else%}
                <div class="buttons d-grid gap-1 col-6 mx-auto">
                    <a href="{%url 'account'%}" class="btn btn-primary btn-lg"> Get Started </a>  
                    {% comment %} <a href="#" class="btn btn-outline-secondary m5-3"> Live previews </a>   {% endcomment %}
                  </div>
                {%endif%}
            </div>
            <div class="col-md-7">
                <img src="{% static 'img/family.jpg'%}" alt="image" class=" smaller">
            </div>
        </div>
    </div>
</section>

<section class="setup">
    <div class="container">
        <div class="text-header text-center">
            <h3>DIETS</h3>
            {% comment %} <p> Lorem Ipsum text dolor blah vlach</p> {% endcomment %}
        </div>
        <div class="items text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="icons">
                    <img src="{% static 'img/healthykidney-6.png' %}" class="logo-resize1" alt="">
                    </div>
                    <div class="desc">
                        <a href="https://www.kidney.org/atoz/content/Dash_Diet"><h5> DASH </h5></a>
                        <p>Stands for dietary approach to stop hypertension. Dash is designed to help treat people with high blood pressure.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icons">
                    <img src="{% static 'img/healthykidney-5.png' %}" class="logo-resize1" alt="">
                    </div>
                    <div class="desc">
                        <a href="https://www.kidney.org/atoz/content/plant-based"><h5>Plant-Based</h5></a>
                        <p>A Vegetarian like diet that directs you to consume your nutrient intake from plant-based resources.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icons">
                    <img src="{% static 'img/healthykidney-4.png'%}" class="logo-resize1" alt="">
                    </div>
                    <div class="desc">
                        <a href="https://www.kidney.org/nutrition"> <h5> Managing Nutrients</h5></a>
                        <p>Managing Nutrients such as Phosphrous, Potassium, Protien and Sodium are big factors in preventing kidney disease.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="information">
    <div class="container">
        <div class="row info-1">
            <div class="col-md-6">
                <div class="text-information2">
                    <h5> Eating right for your Kidneys</h5>     
                    <p> <b>First Step</b> to eating right:
                        Choose and prepare foods with less salt and Sodium
                        <br>
                        <b>Second Step:</b>
                        Eat the right amount and the right types of Protein
                        <br>
                        <b>Third Step:</b>
                        Choose foods that are healthy for your heart
                        <br>
                        <b>Fourth Step:</b>
                        Choose foods and drinks with Phosphrous
                        <br>
                        <b>Fifth Step:</b>
                        Choose foods with the right amount of potassium
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{%static 'img/healthykidney-7.png'%}" alt="" class="w-100 re-size">
            </div>
        </div>
        <div class="row info-2">
            <div class="col-md-6">
                <img src="{% static 'img/mission.jpeg'%}" alt="" class="w-100 re-size">
            </div>
            <div class="col-md-6">
                <div class="text-information">
                    <h5> The Mission</h5>
                    <p> Prevent kidney and urinary tract diseases, improve
                        the health and well-being of individuals and
                        families affected by these diseases, and increase
                        the availability of all organs for transplantation.
                        </p>
                </div>
            </div>
           
        </div>
    </div>
    {%if user.is_authenticated%}
    <div class="buttons d-grid gap-1 col-6 mx-auto">
        <a href="{%url 'dashboard' username=user.username%}" class="btn btn-primary btn-lg"> View dashboard</a>  
        {% comment %} <a href="#" class="btn btn-outline-secondary m5-3"> Live previews </a>   {% endcomment %}
      </div>
    {%else%}
    <div class="buttons d-grid gap-1 col-6 mx-auto">
        <a href="{%url 'account'%}" class="btn btn-primary btn-lg"> Get Started</a>  
        {% comment %} <a href="#" class="btn btn-outline-secondary m5-3"> Live previews </a>   {% endcomment %}
      </div>
      {%endif%}
</section>
{%endblock%}

<!-- Nav bar-->

