{%extends 'base.html'%}
{%load static%}
{%block content%}

<div>
    {%for person in people_data%}
    <div class="foody shadow">
        <h2 class="food">Profile</h2>
        <div style="float:left">
            <h3>{{person.first_name}} {{person.last_name}}</h3>
        </div>
        <div style="float:right">
            <form method="POST" class="form-group" action="{% url 'editPerson' %}" name="editSerum" style="float:left">
                {%csrf_token%}
                <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form> &nbsp&nbsp
            <form method="POST" class="form-group" action="{% url 'delPerson' %}" name="delPerson" style="float:right">
                {%csrf_token%}
                <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div><br><br>
    </div>
    {%endfor%}
</div>
<br>
<div class="container">
   <a class="alert-link" href="{% url 'dashboard'%}"><button class="btn btn-primary">Back</button></a>
</div>

{%endblock%}