{%extends 'base.html'%}
{%load static%}
{%block content%}

<div>
    {%for person in people_data%}
    <div>
        {{person.first_name}}
        {{person.last_name}}
        <form method="POST" class="form-group" action="{% url 'editPerson' %}" name="editSerum">
            {%csrf_token%}
            <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
            <button type="submit">Edit</button>
        </form>
        <form method="POST" class="form-group" action="{% url 'delPerson' %}" name="delPerson">
            {%csrf_token%}
            <input type="number" name="person_id" id="person_id" value="{{person.person_id}}" hidden>
            <button type="submit">Delete</button>
        </form>
    </div>
    {%endfor%}
</div>

{%endblock%}